html,
body {
  height: 100%;
}

body,
body > .header .logo,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Arial", sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.crud-navigation {
  padding-bottom: 10px;
}

.record-history {
  margin-top: 10px;
}

form div.required label.control-label:after {
  content: "\00a0\00a0*"; /* \00a0 is non breaking space */
  color: #FF0000;
}

.file-preview-image {
  max-width: 100% !important;
  object-fit: contain;
}

.logo {
  background-position: center left;
  text-align: right !important;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/*!* add sorting icons to gridview sort links *!*/
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.docs {
  .file-content {
    font-size: 1.2em;
    line-height: 1.6em;
    blockquote {
      //background: lighten(@gray-lighter, 3%);
    }
  }
}

[class^='select2'] {
  border-radius: 0px !important;
}

// Make required fields visible and put * mark*/
form div.required label.control-label:after {
  content: "\00a0\00a0*"; /* \00a0 is non breaking space */
  color: #FF0000;
}

/**
Login page
*/
.login {
  height: 100% !important;
}
body.login {
  padding: 0 !important;
  margin: 0 !important;
}

.wrapper.login {
  width: 100%;
  background: none;
}

.content.login {
  height: 100%;
  position: relative;
}
.login-wrapper {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);

}

.login-logo {
  background-position: center center;
  width: 100%;
  height: 100px;
}

.logo-image {
  background-image: url('../images/taktwerk_logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.background-image {
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
  white-space: normal;
}
.treeview-menu li span {
  padding-left: 1.5em;
  display: list-item;
}
.treeview-menu li i {
  float:left;
  margin-top: 3px;
}

// Dateranger picker when window is too small
.form-control .kv-drp-dropdown {
  overflow: hidden;
}